html, body, .container-fluid {
    height:100%;
    background-color: #b2e1f5;
    font-family: 'Raleway', sans-serif;
}

.titlerow h2 {
    font-weight: 900;
    font-size: 50;
    text-transform: uppercase;
    background: transparent url(../img/bullshit-bingo-flag.png) no-repeat center center;
    padding: 10px 10px 20px;
}

svg text {
    font-weight: 700;
}

.wordrow {
    height: 70%;
}

.navrow {
    height: 5%;
}
.rankingrow {
    /* border-top: 2px solid #29abe2; */
    padding-top: 40px;
}

.rankingrow .cloud {
    background: transparent url(../img/bullshit-bingo-cloud.png) no-repeat top left;
    width: 123px;
    height: 89px;
    margin-top: -25px;
}
.rankingrow .cloud.left {
    position: absolute;
    right: -60px;
    z-index: 100;
}
.rankingrow .cloud.right {
    position: absolute;
    left: -60px;
    z-index: 100;
}

.rankingrow .unicorn-meme {
    max-width: 0;
    position: absolute;
    top: -250px;
}
.rankingrow .unicorn-meme img{
    max-width: 200px;
    float: right;
}

.rankingrow .rainbow {
    background: transparent url(../img/bullshit-bingo-rainbow.png) repeat-x top left;
    width: 100%;
    height: 50px;
}
.ranking-indicator {
    position: absolute;
    display: block;
    height: 95px;
    width: 140px;
    top: -95px;
    background: transparent url(../img/bullshit-bingo-unicorn.png) no-repeat left top;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
    z-index: 100;
}
.ranking-indicator .team{
    display: block;
    font-size: 2em;
    width: 83px;
    text-align: center;
    padding-top: 18px;
    font-weight: 700;
}
.ranking-indicator .points{
    display: block;
    font-size: 1.2em;
    width: 83px;
    text-align: center;
    color: white;
    padding-top: 0px;
}
.ranking-indicator.first {
    width: 140px;
    background: transparent url(../img/bullshit-bingo-gold.png) no-repeat left top;
    z-index: 99;
}
.ranking-indicator.second {
    width: 140px;
    background: transparent url(../img/bullshit-bingo-silver.png) no-repeat left top;
    z-index: 98;
}
.ranking-indicator.third {
    width: 140px;
    background: transparent url(../img/bullshit-bingo-bronze.png) no-repeat left top;
    z-index: 97;
}



/* fill: #FFEB3B;
    stroke-width: 2px;
    stroke: black; */